@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

/* Centra verticalmente y horizontalmente los elementos en el contenedor */
#counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#h1-2 {
    font-size: 10vh;
    position: fixed;
    right: 10vh;
    display: flex;
    font-family: 'Climate Crisis', cursive;
    text-shadow: 1px 1px 2px rgba(184, 23, 184, 0.452);
}

#h1 {
    font-size: 10vh;
    position: fixed;
    top: 40%;
    left: 10vh;
    display: flex;
    font-family: 'Climate Crisis', cursive;
    text-shadow: 1px 1px 2px rgba(184, 23, 184, 0.452);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #h1-2 {
        color: rgba(0, 0, 255, 0.5);
        width: 100%;
        font-size: 8vh;
        transform: translate(25%, 600%) rotate(0deg);

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #h1 {
        color: rgba(0, 0, 255, 0.5);
        width: 100%;
        font-size: 8vh;
        transform: translate(-7%, -250%) rotate(0deg);

    }
}

/* Cortinillaaaaaaaaaaaa */


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #h1-2 {
        color: rgba(0, 0, 255, 0.5);
        transform: translate(54%, 420%) rotate(0deg);
        font-size: 10vh;

    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #h1 {
        color: rgba(0, 0, 255, 0.5);
        transform: translate(7%, -180%) rotate(0deg);
        font-size: 10vh;

    }
}

/* Cortinillaaaaaaaaaaaa */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #h1-2 {
        color: rgba(0, 0, 255, 0.5);
        top: 40%;
        transform: translate(50%, 500%) rotate(90deg);
        font-size: 10vh;

    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #h1 {
        color: rgba(0, 0, 255, 0.5);
        top: 0%;
        transform: translate(-50%, -300%) rotate(-90deg);
        font-size: 10vh;

    }
}

/* Cortinillaaaaaaaaaaaa */

/* Centra el texto y la imagen dentro del contenedor */
#counter,
#counter-image {
    text-align: center;

}

/* Oculta la imagen y establece su ancho */
#counter-image {
    display: none;
    width: 80%;
    height: 90%;
    /* Establece el ajuste de objeto de la imagen para cubrir el área de visualización */
}

/* Estiliza el contador y establece su tamaño de fuente, margen, padding, color de fondo, bordes y sombra */
#counter {
    display: flex;
    margin: 10px;
    font-size: 2em;
    padding: 50px;
    background-color: var(--background-color, #f5f5f5);
    border-radius: 10px;
    box-shadow: 10px 30px 25px rgba(0, 0, 0, 0.2);
}

/* Establece las propiedades básicas del cuerpo de la página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--background-color, rgba(236, 231, 231, 0.863));
}